header{
    background-color: #293B5F;
}
nav{
    background-color: #47597E;
    grid-column: 1/4;
}
section{
    background-color: #DBE6FD;
    grid-column: 1/4;
}
aside{
    background-color: #B2AB8C;
    grid-column: 4/5;
   
}
footer{
    background-color: #345B63;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
}
